@import url("https://use.typekit.net/hre7bsv.css");

@font-face {
    font-family: Formula-Serial-Regular;
    src: url(../fonts/Formula-Serial-Regular.ttf);
}

@font-face {
    font-family: roc-grotesk-wide;
    src: url(../fonts/roc-grotesk-wide.ttf);
}

@font-face {
    font-family: "roc grotesk wide";
    src: url(../fonts/roc-grotesk-wide.ttf);
}