:root{
    --description-font: Formula-Serial-Regular;
    --title-font: roc-grotesk-wide;
}


body{
    background-color: black !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    /* cursor: none; */
}


/* clipped background stylings */
#background{
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: url(../img/bg.jpeg); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    clip-path: circle(75px at var(--x) var(--y));
    z-index: 1 !important;
}



@media screen and (min-width: 53em) {
    .slider {
        height: 100vh;
    }
}
.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#rgbKineticSlider canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
@media screen and (max-width: 53em) {
    nav a {
        top: auto;
        bottom: 3rem;
    }
}
/* end of clipped background stylings */


/* upper row stylings */
.upper-row{
    position: absolute;
    width: 100%;
    transform: translate(-50%);
    left: 51%;
    top: 4%;
    color: white;
    padding-left: 25px;
    padding-right: 40px;
    font-family: var(--description-font);
    text-transform: uppercase;
}
.upper-row #left-text{
    width: 65%;
    text-align: left;
    line-height: 1.5;
}
.left-col{
    position: relative !important;
}
.upper-row #right-text{
    position: absolute;
    width: 60%;
    right: 0;
    text-align: right;
    line-height: 1.5;
}
/* end of upper row stylings */


/* blotter text styles */
#src{
    opacity: 0 !important;
    font-family: "roc grotesk wide";
    font-size: 0px;
}
#main-title-wrapper #coming-soon-text{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-family: var(--title-font) !important;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.2px;
    text-align: center;
    width: 100%;
}
/* end of blotter text styles */


/* bottom row stylings */
.bottom-row{
    position: absolute;
    width: 100%;
    transform: translate(-50%);
    left: 50%;
    bottom: 4%;
    padding-left: 25px !important;
    padding-right: 40px;
    font-family: var(--description-font);
    text-transform: uppercase;
    z-index: 1 !important;
}
.bottom-row #left-text{
    color: white;
    text-align: left !important;
    margin-left: 20px;
}
.bottom-row #middle-text{
    color: white;
    text-align: center !important;
    cursor: default !important;
}
.bottom-row #right-text{
    color: white;
    text-align: right !important;
    margin-right: -20px;
}
/* end of bottom row stylings */


/*  */
#video01{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
    background-size: cover;
    transition: 1s opacity;
}
/*  */
